<p>
  <strong>Название:</strong>
  <%= @article.title %>
</p>
 
 <p>
  <strong>Описание:</strong>
  <%= @article.text %>
</p>
<p>
  <strong>Язык:</strong>
  <%= @article.language.name %>
</p>
<p>
  <strong>Форма правления:</strong>
  <% if @article.rule != nil%>
  <%= @article.rule.name %>
  <%end%>
</p>
<p>
<strong>Президент:</strong>
  <% if @article.president != nil%>
  <%= @article.president.name_of_president %>
<%end%>
</p>
<p>
<strong>Производство:</strong>
  <% if @article.productions != nil%>
	<% @article.productions.each do |item| %>
	 <br> <%= item.name %>
	<% end %>
  <%end%>
</p>
<p>
<strong>Домен первого уровня:</strong>
  <% if @article.domain != nil%>
  <%= @article.domain.name %>
<%end%>
</p>
<p>
<strong>Континент:</strong>
  <% if @article.continent != nil%>
  <%= @article.continent.name %>
<%end%>
</p>
<p>
<strong>Население:</strong>
  <% if @article.population != nil%>
  <%= @article.population.count %>
<%end%>
</p>

<p>
<strong>Телефонный код:</strong>
  <% if @article.telephoneCode != nil%>
  <%= @article.telephoneCode.code %>
<%end%>
</p>

