<h1>Редактирование данных президента</h1>
 
<%= form_for :president, url: president_path(@president), method: :patch do |f| %> 
  
  <p>
    <%= f.label :Имя %><br>
    <%= f.text_field :firstName %>
  </p>
 
  <p>
    <%= f.label :Фамилия %><br>
    <%= f.text_field :lastName %>
  </p>
  <p>
        <%= f.label :'Гражданство'%><br>

	<%= f.collection_select(:citizen_ship_id, CitizenShip.all, :id, :name) %>
  </p>
  <p>
        <%= f.label :'Пол'%><br>
        <%= f.collection_radio_buttons :sex_id, Sex.all, :id, :name %>
  </p>
  <p>
    <%= f.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Вернуться', presidents_path %>
